:root {
  --background: rgb(var(--ctp-base));
  --foreground: rgb(var(--ctp-text));
  --semantic-foreground: rgb(var(--ctp-base));

  --primary: rgb(var(--ctp-lavender));
  --secondary: rgb(var(--ctp-sapphire));
  --muted: rgb(var(--ctp-surface0));
  --muted-foreground: rgb(var(--ctp-subtext0));
  --accent: rgb(var(--ctp-sky));
  --success: rgb(var(--ctp-green));
  --warning: rgb(var(--ctp-yellow));
  --destructive: rgb(var(--ctp-red));
  --card: rgb(var(--ctp-crust));
  --card-nested: rgb(var(--ctp-mantle));
  --card-foreground: rgb(var(--ctp-text));
  --popover: rgb(var(--ctp-surface0));
  --popover-foreground: rgb(var(--ctp-text));

  --rosewater: rgb(var(--ctp-rosewater));
  --flamingo: rgb(var(--ctp-flamingo));
  --pink: rgb(var(--ctp-pink));
  --mauve: rgb(var(--ctp-mauve));
  --red: rgb(var(--ctp-red));
  --maroon: rgb(var(--ctp-maroon));
  --peach: rgb(var(--ctp-peach));
  --yellow: rgb(var(--ctp-yellow));
  --green: rgb(var(--ctp-green));
  --teal: rgb(var(--ctp-teal));
  --sky: rgb(var(--ctp-sky));
  --sapphire: rgb(var(--ctp-sapphire));
  --blue: rgb(var(--ctp-blue));
  --lavender: rgb(var(--ctp-lavender));

  --crust: rgb(var(--ctp-crust));
  --mantle: rgb(var(--ctp-mantle));
  --surface-0: rgb(var(--ctp-surface0));
  --surface-1: rgb(var(--ctp-surface1));
  --surface-2: rgb(var(--ctp-surface2));
  --border: rgb(var(--ctp-surface2));
  --input: rgb(var(--ctp-surface2));
  --ring: rgb(var(--ctp-lavender));

  --chart-1: rgb(var(--ctp-red));
  --chart-2: rgb(var(--ctp-blue));
  --chart-3: rgb(var(--ctp-green));
  --chart-4: rgb(var(--ctp-yellow));
  --chart-5: rgb(var(--ctp-pink));

  --sidebar: rgb(var(--ctp-crust));
  --sidebar-foreground: rgb(var(--ctp-text));
  --sidebar-primary: rgb(var(--ctp-lavender));
  --sidebar-primary-foreground: rgb(var(--ctp-text));
  --sidebar-accent: rgb(var(--ctp-sky));
  --sidebar-accent-foreground: rgb(var(--ctp-text));
  --sidebar-border: rgb(var(--ctp-surface2));
  --sidebar-ring: rgb(var(--ctp-lavender));
}