@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Your custom styles and variables
$primary-color: #00ada9;
$secondary-color: #efca08;
$accent-color: #2a2d34;
$white: #fff;
$black: #000;

body {
  @apply m-0 font-sans antialiased;

  background-color: $primary-color;
}

#app {
  @apply text-background;

  background-image: url("./assets/3px-tile.png");
}

// Transitions
.fade-enter-active,
.fade-leave-active {
  @apply transition-all duration-500 ease-out;
}

.fade-enter,
.fade-leave-active {
  @apply opacity-0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  @apply transition-all duration-1000 ease-out;
}

.slide-fade-enter,
.slide-fade-leave-active {
  @apply -translate-x-24 opacity-0;
}

.flip-enter-active {
  animation: width-in 0.5s ease-in forwards;
}

.flip-leave-active {
  animation: width-out 0.5s ease-out forwards;
}

@keyframes width-out {
  0% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}

@keyframes width-in {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}